.signup, .login{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding-top: 1%;
    padding-left: 5%;
    display: block;
    z-index: 1;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
    overflow: auto;
    @include icon-gradient($new-green, $green-color-bottom);

    .card {
        padding: 10px;

        .formErrors {
            font-size: small;
            color: #dc3545;
        }
    }

    .logo{
        padding-left: 33%;
        margin: 50px 0;
        position: relative;
        align-content: center;
        text-align: center;
        display: flex;

        .logo-mini{
            float: left;
            text-align: center;
            width: 30px;
            margin-right: 15px;

            img{
                margin-top: 2px;
                display: inline-block;
                vertical-align: center;
                float: none;
                margin: auto;
                width: 60px;
                height: 60px;
            }
        }

        .logo-normal{
            padding-left: 20px;
            line-height: 35px;
            display: block;
            font-size: 40px;
            margin: 10px;
            color: $white-color;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .logo-img{
            width: 34px;
            display: inline-block;
            height: 34px;
            margin-left: -2px;
            margin-top: -2px;
            margin-right: 10px;
            border-radius: 30px;
            text-align: center;
        }
    }
    
    .title {
        font-size: 25px;
    }
   
    .btw_buttons {
        color: #9a9a9a;
        font-size: 12px;
        margin: 5px;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
    }

    *:before,
    *:after {
    box-sizing: border-box;
    }
}

.signup,
.login{
    -webkit-transition-property: top,bottom;
    transition-property: top,bottom;
    -webkit-transition-duration: .2s,.2s;
    transition-duration: .2s,.2s;
    -webkit-transition-timing-function: linear,linear;
    transition-timing-function: linear,linear;
    -webkit-overflow-scrolling: touch;
}
